<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias App</title>
    <base href="/public">
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
    <div class="search">
        <h2>ITESO</h2>
        <h4>Practica NodeJS</h4>
        <form id="search" action="news">
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject">
            <input type="submit" value="Search News">
        </form>
    </div>
    <br>
    <div class="grid">
        {{{body}}}
    </div>
    
</body>
</html>