{{#each array}}
    <div class="col-phv-12 col-phh-12 col-t-6 col-d-4">
        <img src="{{urlToImage}}" />
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <a href="{{url}}" target="_blank">Ver más</a>
    </div>
{{/each}}